/* ImageGallery Styles */
h1{
  text-align: center;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns in each row */
  gap: 10px;
  padding: 10px;
}

.image-item {
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.image-item img {
  width: 100%;
  height: 320px; /* Fixed height to ensure all images have the same size */
  object-fit: cover; /* Ensures images cover the container without distortion */
  cursor: pointer;
}

/* Modal Styles */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}

.modal-content {
  max-width: 80%;
  max-height: 80%;
}

.modal-content img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
  font-size: 30px;
  cursor: pointer;
}
